.logo {
    display: block;
    width: 140px;
    height: 25px;
    text-indent: -9999px;
    background-image: url(../../assets/img/bukalapak-secondary-logo.png);
    background-position: 0px;
    background-size: 140px;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}



.layout_item {
    display: block;
    float: left;
}

.wrapper {
    display:flex;
    justify-content:space-between;
}

.u-3of12 {
    width: 25% !important
}

.u-9of12 {
    width: 75% !important
}

.mar_left_2 {
    margin-left: 2rem
}

.mar_0_12 {
    margin: 0px 12px
}

.padding_0_14 {
    padding: 0px 14px
}

.u-position-relative {
    position: relative!important;
}

.c-nav-divider {
    background-color: rgba(0,0,0,0.1);
    width: 1px;
    height: 60px;
    overflow: hidden;
    margin: 0 6px;
}

.c-padding-top {
    padding-top: 12px;
}
.c-nav-menu_transaction {
    display: -webkit-box
}
.menu_item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}